/* Style for the form */
.form-title{
  color: var(--gold);
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin: 0%;
}

.form{
  border-width: 1px;
  background-color: var(--light-gray);
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  transform: translateY(-15%);
  box-shadow: 0 0 20px black;
  border-radius: 10px;
  order: 1;
  flex-grow: 3;
}

.input-form{
  width: 100%;
  height: 25px;
  background-color: var(--lighter-gray);
  border: 1px solid #B9B9B9;
  border-radius: 2px;
}

.form-label{
  margin-bottom: 0px;
}

.required-field::after {
  content: " *";
  color: red;
}
